<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        <link href="http://gmpg.org/xfn/11" rel="profile" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <!-- Enable responsiveness on mobile devices-->
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1"
        />

        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

        <script
            src="https://beamanalytics.b-cdn.net/beam.min.js"
            data-token="81c617d7-997d-40f3-b31c-5fec2bb3ca96"
            async
        ></script>

        <!-- CSS -->
        <link href="//fonts.googleapis.com/" rel="dns-prefetch" />
        <link
            href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Abril+Fatface|PT+Sans:400,400italic,700&amp;subset=latin,latin-ext"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/poole.css"
        />
        <link
            rel="stylesheet"
            href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/hyde.css"
        />
        <link
            rel="stylesheet"
            href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/syntax.css"
        />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
        />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧬</text></svg>"
        />
        <!-- RSS -->
        <!-- <link
            rel="alternate"
            type="application/rss+xml"
            title="RSS"
            href="/atom.xml"
        /> -->
    </head>

    <body class="theme-base-0d">
        {% include 'sidebar.html' %}
        <div class="content container">{% block content %} {% endblock %}</div>
    </body>
</html>
